{% extends 'base.html' %}
{% block title %}
<title>Candidate List</title>
{% endblock %}
{% block content %}
<div class="breadcrumb mb-4">
    <li class="breadcrumb-item pt-1 text-center"><a href="{% url 'accounts:home' %}">Home</a></li>
    <li class="breadcrumb-item pt-1 text-center">Dashboard</li>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="schedule-tab" data-toggle="tab" href="#schedule" role="tab"
           aria-controls="schedule" aria-selected="true">Today's Schedules</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="candidate-tab" data-toggle="tab" href="#candidate" role="tab" aria-controls="candidate"
           aria-selected="false">New Candidates</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="all_schedule-tab" data-toggle="tab" href="#all_schedule" role="tab"
           aria-controls="all_schedule" aria-selected="true">All Schedules</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="all_candidate-tab" data-toggle="tab" href="#all_candidate" role="tab"
           aria-controls="all_candidate" aria-selected="false">All Candidates</a>
    </li>
</ul>
<div class="tab-content my-2" id="myTabContent">
    <div class="tab-pane fade show active" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
        <table class="table mb-5">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Schedules For</th>
                <th>Interviewer</th>
                <th>Time</th>
                <th>Info</th>
            </tr>
            </thead>
            <tbody>
            {% for each in schedules %}
            {% now 'd-m-Y' as to %}
            {% if each.schedule_time|date:'d-m-Y' == to %}
            <tr>
                <td>{{ each.id }}</td>
                <td>
                    {{ each.candidate.first_name }}
                    <small>{{ each.candidate.last_name }}</small>
                </td>
                <td>{{ each.candidate.get_status_display }}</td>
                <td>
                    {{ each.interviewer.first_name.capitalize }}
                    <small>{{ each.interviewer.last_name.capitalize }}</small>
                </td>
                <td>
                    {{ each.schedule_time|date:'d-m-Y' }}
                    <br>
                    {{ each.schedule_time|time:'TIME_FORMAT' }}
                </td>
                <td><a href="{{ each.get_absolute_url }}">Show More...</a></td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="candidate" role="tabpanel" aria-labelledby="candidate-tab">
        <table class="table mb-5">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Status</th>
                <th>Info</th>
            </tr>
            </thead>
            <tbody>
            {% for each in candidates %}
            {% if each.status == 'shortlist' %}
            <tr>
                <td>{{ each.id }}</td>
                <td>{{ each }}</td>
                <td>{{ each.mobile }}</td>
                <td>{{ each.email }}</td>
                <td>{{ each.get_status_display }}</td>
                <td><a href="{{ each.get_absolute_url }}">Show More...</a></td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="all_schedule" role="tabpanel" aria-labelledby="all_schedule-tab">
        <table class="table mb-5">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Schedules For</th>
                <th>Interviewer</th>
                <th>Time</th>
                <th>Info</th>
            </tr>
            </thead>
            <tbody>
            {% for each in schedules %}
            {% now 'd-m-Y' as to %}
            {% if each.schedule_time|date:'d-m-Y' == to %}
            <tr>
                <td>{{ each.id }}</td>
                <td>
                    {{ each.candidate.first_name }}
                    <small>{{ each.candidate.last_name }}</small>
                </td>
                <td>{{ each.candidate.get_status_display }}</td>
                <td>
                    {{ each.interviewer.first_name.capitalize }}
                    <small>{{ each.interviewer.last_name.capitalize }}</small>
                </td>
                <td>
                    {{ each.schedule_time|date:'d-m-Y' }}
                    <br>
                    {{ each.schedule_time|time:'TIME_FORMAT' }}
                </td>
                <td><a href="{{ candidate.get_absolute_url }}">Show More...</a></td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="all_candidate" role="tabpanel" aria-labelledby="all_candidate-tab">
        <table class="table mb-5">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Status</th>
                <th>Info</th>
            </tr>
            </thead>
            <tbody>
            {% for each in candidates %}
            <tr>
                <td>{{ each.id }}</td>
                <td>{{ each }}</td>
                <td>{{ each.mobile }}</td>
                <td>{{ each.email }}</td>
                <td>{{ each.get_status_display }}</td>
                <td><a href="{{ each.get_absolute_url }}">Show More...</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}