{% extends 'base.html' %}

{% block title %}
    <title>Schedule List</title>
{% endblock %}

{% block content %}
<div class="breadcrumb mb-4">
    <li class="breadcrumb-item pt-1 text-center"><a href="{% url 'accounts:home' %}">Home</a></li>
    <li class="breadcrumb-item pt-1 text-center">Schedule List </li>
</div>
<table class="table mb-5">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Info</th>
        </tr>
    </thead>
    {% for schedule in object_list %}
        <tr>
            <td>{{ schedule.id }}</td>
            <td>{{ schedule.candidate }}</td>
            <td>{{ schedule.candidate }}</td>
            <td>{{ schedule.candidate }}</td>
            <td><a href="{{ schedule.get_absolute_url }}">Show More...</a></td>
        </tr>
    {% endfor %}

</table>

{% endblock %}