{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Candidate Detail</title>
{% endblock %}
{% block content %}
<div class="breadcrumb mb-4">
    <li class="breadcrumb-item pt-1 text-center"><a href="{% url 'scheduler:hr_dashboard' %}">Dashboard</a></li>
    <!--    <li class="breadcrumb-item pt-1 text-center">Candidate Profile</li>-->
</div>

<div class="container">
    <h3 class="mb-3">{{ schedule.candidate.first_name.capitalize }}
        <small>{{ schedule.candidate.last_name.capitalize }}
        </small>
    </h3>
    <div class="row my-3">
        <div class="col-md-6">
            <h6>Applied For :-</h6>
            <p class="ml-5 mt-2"> {{ schedule.candidate.applied_for.post.capitalize }}</p>
            <h6>Contact :-</h6>
            <div class="ml-5">
                <p><i class="fa fa-mobile" aria-hidden="true"></i> {{ schedule.candidate.mobile }}</p>
                <p><i class="fa fa-envelope-o" aria-hidden="true"></i> {{ schedule.candidate.email }}</p>
            </div>
            <h6>Interviewer :-</h6>
            <div class="ml-5">
                <p><i class="fa fa-user-o" aria-hidden="true"></i> {{ schedule.interviewer.get_full_name.capitalize}}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h6> &emsp;Experience :- </h6>&emsp;
                <p> {{ schedule.candidate.experience }} </p>
            </div>
            <hr>
            <h5>Address :- </h5>
            <div class="ml-5">
                <p> {{ schedule.candidate.address.first.city.capitalize }} <small>
                    ({{ schedule.candidate.address.first.state.capitalize }})</small></p>
                <p> {{ schedule.candidate.address.first.street.capitalize }} </p>
                <p> {{ schedule.candidate.address.first.landmark }} - 360470</p>
            </div>
        </div>
    </div>
    <!--/row-->
</div>
<hr>

{% if schedule.comment == '' and user == schedule.interviewer %}
<form method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
    {{ form.non_field_errors }}
    <div class="form-group">
        {% if form.question.errors %}
        <ol>
            {% for error in form.question.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
        {% endif %}
        <label class="small mb-1" for="{{ form.question.id_for_label }}">
            {{ form.question.label_tag }}{{ forloop.counter }}</label>
        {{ form.question }}
    </div>
    <div class="form-group mt-2">
        {% if form.question_tag.errors %}
        <ol>
            {% for error in form.question_tag.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
        {% endif %}
        <div class="row">
            {% for each in form.question_tag %}
            <div class="col-md-2">
                {{ each }}
            </div>
            {% endfor %}
        </div>
    </div>
    <hr>
    {% endfor %}
    <div class="form-group">
        {% if comment_form.comment.errors %}
        <ol>
            {% for error in comment_form.comment.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
        {% endif %}
        <label class="small mb-1" for="{{ comment_form.comment.id_for_label }}">
            {{ comment_form.comment.label_tag }}</label>
        {{ comment_form.comment }}
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {% if comment_form.status.errors %}
            <ol>
                {% for error in comment_form.status.errors %}
                <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ol>
            {% endif %}
            <label class="small mb-1" for="{{ comment_form.comment.id_for_label }}">
                {{ comment_form.status.label_tag }}</label>
            {{ comment_form.status }}
        </div>
        <div class="form-group col-md-6">
            <label class="small mb-2" for="btn">
                Submit</label>
            <button id="btn" class="btn btn-block btn-success mt-1" type="submit">Submit</button>
        </div>
    </div>
</form>
{% else %}
<table class="table mb-5">
    <thead class="thead-light">
    <tr>
        <th>Questions</th>
        <th>Answers</th>
    </tr>
    </thead>
    <tbody>
    {% for each in schedule.candidate.evaluation_set.all %}
        <tr>
            <td>{{ each.question }}</td>
            <td>{{ each.get_question_tag_display }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<hr>
<h2>Comment From Interviewer</h2>
<p class="my-2 mx-5">{{ schedule.comment }}</p>
{% endif %}

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function () {
        $("#id_schedule_time").datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        minDate: moment()
    });
    });

























</script>
{% endblock %}